body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    letter-spacing: .2em;
    color: white;
    background-color: grey;
}


/* HEADER */
.intro {
    width: 94%;
    background-color:black;
    border-radius: 5px;
    margin: 0 auto;
}

.first {
   color: orange;
}

header {
    display: flex;
    justify-content: space-around;
}

h1 {
    align-self: center;
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

.lauren {
    border: 5px solid orange;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    align-self: center;
}

.tagline {
    text-align: center;
    font-size: 1.3em;
}

hr {
    margin-bottom: 1em;
    padding: .1em;
    border-radius: 5px;
}


/* MAIN */
.content {
    width: 94%;
    background-color: black;
    border-radius: 5px;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 15em;
    margin-bottom: 15em;
}

a:link {
    color: white;
}

a:visited {
 color: orange;
}

a:hover {
    color: green;
}

h2 {
    margin-bottom: 2em;
}

.projects, .skills {
 border-left: 2px solid white;
 border-radius: 5px;
 padding: 2em;
}


ul {
    list-style-type: none;
    margin: 0 0 8em 0;
    padding: 0;
}

ul li {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

/* cat sector */
.cats {
    margin-top: 15em;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 1.5em;
}

.order {
    align-self: center;
}

ol li {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.catpic {
    border-radius: 5px;
    border: 5px solid orange;
    margin-left: 1em;
    margin-right: 3em;
    align-self: center;
}

aside {
    margin-bottom: 15em;
}

.footer {
    display: flex;
    justify-content: center;
}

.linked {
    align-self: center;
}

